import tkinter as tk
from math import *

root = tk.Tk()
root.title("Engineering Calculator")
root.geometry("420x650")
root.configure(bg="#0f172a")

equation = ""

display = tk.Entry(
    root,
    font=("Arial", 24),
    bd=10,
    relief=tk.FLAT,
    justify="right",
    bg="#e2e8f0",
    fg="black"
)

display.pack(fill="both", ipadx=8, ipady=20, padx=10, pady=15)

def press(num):
    global equation
    equation += str(num)
    display.delete(0, tk.END)
    display.insert(tk.END, equation)

def equal():
    global equation
    try:
        result = str(eval(equation))
        display.delete(0, tk.END)
        display.insert(tk.END, result)
        equation = result
    except:
        display.delete(0, tk.END)
        display.insert(tk.END, "Error")
        equation = ""

def clear():
    global equation
    equation = ""
    display.delete(0, tk.END)

def backspace():
    global equation
    equation = equation[:-1]
    display.delete(0, tk.END)
    display.insert(tk.END, equation)

btn_style = {
    "font": ("Arial", 16),
    "bg": "#334155",
    "fg": "white",
    "bd": 0,
    "width": 5,
    "height": 2
}

frame = tk.Frame(root, bg="#0f172a")
frame.pack()

buttons = [
    ('7',1,0), ('8',1,1), ('9',1,2), ('/',1,3), ('sqrt(',1,4),
    ('4',2,0), ('5',2,1), ('6',2,2), ('*',2,3), ('pi',2,4),
    ('1',3,0), ('2',3,1), ('3',3,2), ('-',3,3), ('e',3,4),
    ('0',4,0), ('.',4,1), ('+',4,2), ('(',4,3), (')',4,4),
    ('sin(',5,0), ('cos(',5,1), ('tan(',5,2), ('log10(',5,3), ('log(',5,4),
    ('x²',6,0), ('x³',6,1), ('%',6,2), ('C',6,3), ('⌫',6,4),
]

for (text,row,col) in buttons:

    if text == 'C':
        btn = tk.Button(frame, text=text, command=clear,
                        bg="#ef4444", fg="white",
                        font=("Arial",16), width=5, height=2)

    elif text == '⌫':
        btn = tk.Button(frame, text=text, command=backspace,
                        bg="#f59e0b", fg="white",
                        font=("Arial",16), width=5, height=2)

    elif text == 'x²':
        btn = tk.Button(frame, text=text,
                        command=lambda: press("**2"), **btn_style)

    elif text == 'x³':
        btn = tk.Button(frame, text=text,
                        command=lambda: press("**3"), **btn_style)

    else:
        btn = tk.Button(frame, text=text,
                        command=lambda t=text: press(t),
                        **btn_style)

    btn.grid(row=row, column=col, padx=5, pady=5)

equal_btn = tk.Button(
    root,
    text="=",
    command=equal,
    font=("Arial", 20),
    bg="#22c55e",
    fg="white",
    bd=0,
    height=2
)

equal_btn.pack(fill="both", padx=10, pady=15)

root.mainloop()
